<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="font-family: 'Arial Black'">lubie plackiTU MASZ API:</h1><br>
<img src="https://asana-user-private-us-east-1.s3.amazonaws.com/assets/580112477410520/607514697720503/7fd11f805d58f4f96ac5611bd0a1fa9c?AWSAccessKeyId=ASIAIFJOVXJRR4BDGS5Q&Expires=1522067179&Signature=%2BR0%2Bvj12xYXX3CAfm1fdnPNNF%2BE%3D&x-amz-security-token=FQoDYXdzEHUaDIy6%2FCZi5FMdUTHxKiK3A26sKAYbJKYJSiX%2BnbcMDkgnTGp0b2l1Tk6%2BxqaaYPfwjxmh6wXM0Zd4SU4%2BL87SLmfMlvyvyC8YnwZAFaazVTcuT7ZHTMTpnJGS6hFBOtkr7UOin6BinJbeZDhOykPfQq4sPKin%2F9Xw2bVzWAbCK2e3sXYGsYXQjUAsPvhykODq2ERs9KrzgsWp9H8H3891d0lS%2FL4gTZeNLwjFQjs8pzGUqUCSWh4YoaIszCzHAQTV3J2HGOdmUzovGiengz8OyR9%2BjSJFys9d9468Hkt0tFHs8v4dYX%2BaAK5920ZlZM3LDVqe7n7POBLFcHStKH2H5%2BJhl%2BJIabo6%2Blp5s7uTSiflZ1F1ZBMR%2FM8Te05Maxf4coWrfRkxobQoHat4zB%2Bi5yrtEUyJNYyeoBodQkvImvk9p8lat0oqPDBkZlrsPAYaP8J7QvA1ViTihw0%2Fa3lRh3QuCXyu%2FQ4SNPL6yS%2BjEIWYEpk4vR8xkLlpYIYMGv28QkjnEbqsr8LuMsanzxJwrPJNjmI8Pr8bUorKJBcNB9eRTAA3gu8oW8muWldsn0CYogvI%2BeyIJ3l5PK8iqrMjLiPY%2BzYAjwUo1MLj1QU%3D#_=_">
</body>
</html>